<div class="container my-5">
  <h2 class="mb-4 text-center">Bienvenido, {{ nombreEmpleado }}</h2>
  <div class="card shadow">
    <div class="card-body">
      <p><strong>Correo:</strong> {{ correoEmpleado }}</p>
      <p><strong>Dirección:</strong> {{ direccionEmpleado }}</p>
      <p><strong>Teléfono:</strong> {{ telefonoEmpleado }}</p>
      <p><strong>Soporte:</strong> Contacta soporte en 
        <a href="mailto:soporte&#64;afondolimpiezas.com">soporte&#64;afondolimpiezas.com</a>
      </p>
    </div>
  </div>
</div>

