html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  /* opcional para centrar contenido, dependiendo del diseño */
  /* display: flex;
     flex-direction: column;
     justify-content: center; */
}
